#container {
  background-color: #fbe9e7;
}

header {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  #searchBar {
    padding-left: 1rem;
    width: 50%;
    height: 3rem;
    border: 0;
    border-radius: 2rem;
    background-color: #fafafa;
    outline: 0;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  #searchBtn {
    height: 2.5rem;
    width: 5rem;
    outline: 0;
    border: 0;
    border-radius: 1rem;
    background-color: #ff8a65;
    color: white;
    font-weight: bolder;
  }
}
